body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Roboto", serif;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header Section*/
/* Navigation Bar */

.top-bar {
    display: flex;
    color: #F9FAF8; /*Specified color in the project*/
    background-color: #1F2937; 
    padding: 24px 0 24px 96px; 
    align-items: center;
}

.logo {
    width: 84px;
    height: 84px;
    margin-right: auto; /*Push the links to the right side of the navbar*/

}

.navigation {
    display: flex;
    margin-left: auto;
    padding: 0 96px 0 0;
}

.navigation a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', serif;
}

/* Main Header Content*/

.main-header {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 84px;
}

.header-content {
    flex-basis: 256px; /*Set the header content base before it flexes*/
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 52px;
    font-family: 'Robot', serif;

}

.header-content h2 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Robot', serif;
}

.header-content p {
    font-family: 'Roboto', serif;
    opacity: 0.8;
}



.header-content button {
    display: block;
    text-align: center;
    width: 104px;
    border: none;
    background: #3882f6;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.header-image img {
    width: 512px;
    height: 384px;
}

/* Content Section */

.content {
    align-items: center;
}

.deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card img {
    width: 248px;
    height: 248px;
    object-fit: contain;
    border-radius: 16px;
    margin: 8px 24px 0px 24px;
    border: 2px solid black;
}

/* Quotes Section*/
.quotes {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0 156px;
}

.quotes p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', serif;
}

.quotes b {
    padding: 0 24px 32px 0px;
    text-align: right;
    font-family: "Roboto", serif;
}

/* Sign Up Section*/

.signup {
    background-color: #3882f6;
    margin: 56px 192px;
    padding: 8px 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    border-color: none;

}

.signup-item {
    flex: 1;
    font-family: 'Roboto', serif;
}

.signup-text {
    text-align: left;
    color: #fff;
    padding: 0;
    margin: 32px 0 0 56px;
    font-family: 'Roboto', serif;
}

.signup-subtext {
    color: #fff;
    opacity: 0.8;
    margin: 4px 32px 32px 56px;
    text-align: left;
}

.signup-button {
    color: #fff;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882f6;
    padding: 4px 24px;
    font-size: 16px;

}

/* Footer Section*/

.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', serif;
    padding: 16px;
}